127.0.0.1   {{ domain_name }} {{ host_name }} localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         {{ domain_name }} {{ host_name }} localhost localhost.localdomain localhost6 localhost6.localdomain6