{% extends "account/base.html" %}

{% load i18n account website_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<h2>{% trans "Password Reset" %}</h2>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">{% trans 'Reset My Password' %}</button>
</form>
<br />
<p>{% trans "Please" %} <a href="mailto:{% email_from %}">{% trans "contact us" %}</a> {% trans "if you have any trouble resetting your password." %}</p>
{% endblock %}
