{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<h2>{% trans "Sign Up" %}</h2>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class="row my-1">
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="col my-1">{{ field.label }} {{ field.errors }} {{ field }}</div>
  {% if forloop.counter|divisibleby:"2" %}</div>
  <div class="row my-1">{% endif %}
    {% endfor %}
  </div>
  <br />
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
</form>

{% endblock %}