{% extends "wagtailusers/users/create.html" %}

{% block extra_fields %}
    {% include "wagtailadmin/shared/field_as_li.html" with field=form.user_name %}
    {% include "wagtailadmin/shared/field_as_li.html" with field=form.url %}
    {% include "wagtailadmin/shared/field_as_li.html" with field=form.is_mailsubscribed %}
    {% include "wagtailadmin/shared/field_as_li.html" with field=form.is_smssubscribed %}
    {% include "wagtailadmin/shared/field_as_li.html" with field=form.is_newuserprofile %}
{% endblock extra_fields %}