{% extends "payments/base.html" %}
{% load i18n account website_tags %}

{% block title %}{% basefilename %}{% endblock %}

{% block content %}
    <h2>{% trans 'Subscribe' %}</h2>
    <br />
    <p>{% trans 'Success! If you are subscribing for the first time, your premium access details will be available on the ' %}<a href="{% url 'subscribe' %}">{% trans 'subscribe' %}</a> {% trans 'page you previously submitted' %}.</p> 

    <p>{% trans 'If you changed your subscription, your premium content links will change as well, so you will need to update any RSS reader(s), podcast app(s), or other such devices and applications with your new subscription link(s).' %}</p>
    
    <p class="mb-4">{% trans 'If you experience any difficulties, please ' %}<a href="mailto:{{ 'EMAIL_ADDR'|django_settings }}">{% trans 'contact us' %}</a>.</p>
{% endblock %}