{% extends "website/blocks/grid_block.html" %}
{% load wagtailcore_tags wagtailsettings_tags website_tags %}{% get_settings use_default_site=True %}{% wagtail_site as current_site %}

{% block grid_content %}
<div class="card-group{% if self.settings.custom_css_class %} {{self.settings.custom_css_class}}{% endif %}"{% if self.settings.custom_css_id %} id="{{self.settings.custom_css_id}}"{% endif %}>
      {% for block in self.content %}
            {% include_block block %}
      {% endfor %}
</div>
{% endblock %}