{% extends 'website/blocks/base_block.html' %}
{% load wagtailcore_tags wagtailsettings_tags wagtailimages_tags website_tags %}{% get_settings use_default_site=True %}{% wagtail_site as current_site %}

{% block block_render %}

    <div class="row card-row{% if self.settings.custom_css_class %} {{ self.settings.custom_css_class }}{% endif %}"{% if self.settings.custom_id %} id="{{ self.settings.custom_id }}"{% endif %}>
        {% for page in pages %}
        {% with page.specific as content %}
            {% include "website/blocks/content_block_deck_card.html" %}
        {% endwith %}
        {% endfor %}
    </div>

{% endblock %}