{% extends "website/pages/web_page.html" %}

{% load i18n wagtailcore_tags website_tags wagtailadmin_tags django_bootstrap5 wagtailsettings_tags %}

{% block extra_head %}
<script type="text/javascript" src="{% versioned_static 'website/js/modernizr.min.js' %}"></script>
{% endblock %}

{% block contentpage_body %}

{{ block.super }}

{% if self.form_live %}
<form class='{{ self.form_css_class }}'{% if self.form_id %} id='{{ self.form_id }}'{% endif%} action="{% pageurl self %}" method="POST" {% if form|is_file_form %}enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}

    {% bootstrap_form form %}

    {% block captcha %}
        {% if self.spam_protection %}
            {% include 'website/includes/form_honeypot.html' %}
        {% endif %}
    {% endblock %}

    <div class="form-group mt-5 row">
        <div class="{{'horizontal_field_class'|bootstrap_settings}}">
            <button type="submit" class="btn{% if self.button_size %} {{self.button_size}}{% endif %} {{self.button_style}}{% if self.button_css_class %} {{self.button_css_class}}{% endif %}">
                {{ self.button_text }}
            </button>
        </div>
    </div>
</form>
</div>
{% endif %}

{% endblock %}

{% block required_scripts %}
<script type="text/javascript">
if ( $('form').length > 0) {
    (Modernizr, function() {
        if ( (!Modernizr.inputtypes.date || !Modernizr.inputtypes.time) && $("input[type='date'], input[type='time']").length > 0) {
            load_script(libs.pickerbase, function() {
                $(document).trigger("base-picker-loaded");
            });
        }
        if(!Modernizr.inputtypes.date && $("input[type='date']").length > 0) {
            $(document).on("base-picker-loaded", function() {
                load_script(libs.pickadate, function() {
                    // Show date picker
                    $("input[type='date']").pickadate({
                        format: 'mm/dd/yyyy',
                        selectMonths: true,
                        selectYears: true
                    });
                });
            });
        }
        if(!Modernizr.inputtypes.time && $("[type='time']").length > 0) {
            $(document).on("base-picker-loaded", function() {
                load_script(libs.pickatime, function() {
                    // Show time picker
                    $("input[type='time']").pickatime({
                        format: 'h:i A',
                        interval: 15
                    });
                });
            });
        }
        if (!Modernizr.inputtypes['datetime-local'] && $("input[type='datetime-local']").length > 0) {
            load_script(libs.moment, function() {
                // Show formatting help text
                $('.datetime-help').show();
                // Format input on blur
                $("[type='datetime-local']").blur(function() {
                    var clean = $.trim($(this).val());
                    if (clean != '') {
                        clean = moment(clean).format("L LT");
                        $(this).val(clean);
                    }
                });
            });
        }
    });
}
</script>
{% endblock %}
            clean = moment(clean).format("L LT");
                        $(this).val(clean);
                    }
                });
            });
        }
    });
}
</script>
{% endblock %}
